ui-icon {
	vertical-align: middle;
}

.image_list,
.directory_list {
	max-height: 150px;
	overflow: auto;
}

.image_list_content,
.directory_list_content {
	margin-top: 12px;
	margin-bottom: 0px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto 40px;
}

.image_operation {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto 80px;
	margin-top: 8px;
}

.image_list_bottom,
.directory_list_bottom {
	margin-bottom: 5px;
}

.interval {
	height: 10px;
}

.title {
	font-size: 20px;
}

.contact_author {
	display: grid;
}

.contact_author ui-label {
	text-align: center;
}
.contact_author ui-qrcode {
	justify-self: center;
}

.wx_qrcode {
	display: contents;
}

.button_generate {
	margin: 10px;
	width: -webkit-fill-available;
}

.generate_loading {
	height: 44px;
}

.generate_loading_progress {
	margin: 10px;
	width: -webkit-fill-available;
}

.generate_loading_anim {
	text-align: -webkit-center;
	margin-top: -39px;
}

.generate_config {
	margin: 10px;
	text-align-last: center;
	display: grid;
	grid-gap: 5px;
}
